<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/nav.ejs'); %>
        <div class="container mt-4">
            <h1>Welcome to about page!</h1>
        </div>
</body>

</html>