<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/nav.ejs'); %>
        <div class="container mt-4">
            <h1>Welcome to home page</h1>
            <a href="/download">Download file</a>
        </div>
</body>

</html>