<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/nav.ejs'); %>
        <div class="container mt-4">
            <h3>Our products</h3>
        </div>
        <div id="app" class="container mt-4"></div>
        <%- include('../partials/scripts.ejs'); %>
</body>

</html>